<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo0CUMUnNOF2Q6EkJhKeytg6pi2c5u0cc</string>
	<key>GCM_SENDER_ID</key>
	<string>934086295160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.centero.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>centerobackend-14820</string>
	<key>STORAGE_BUCKET</key>
	<string>centerobackend-14820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934086295160:ios:bb1499c3f52d153e52b78d</string>
</dict>
</plist>